# Aplicando Python para análisis de precios: descarga, manejo y análisis de datos

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" width="300px" height="100px" />

> En esta y en las siguientes dos clases veremos un caso de aplicación de simulación montecarlo en la toma de decisiones. Para lograr este objetivo, primero veremos (en esta clase) como manipular datos con *pandas*, tanto desde un archivo local de excel como remotamente desde Yahoo Finance.

> Python Data Analysis Library: pandas es una librería de código abierto, fácil de usar y que provee alto rendimiento en structuras de datos y herramientas de análisis de datos para el lenguaje de programación Python.

**Referencias:**
- http://pandas.pydata.org/
- http://www.learndatasci.com/python-finance-part-yahoo-finance-api-pandas-matplotlib/
- https://www.datacamp.com/community/tutorials/python-excel-tutorial

## 0. Motivación

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Philippine-stock-market-board.jpg" width="400px" height="125px" />

Hace menos de una década, los instrumentos financieros estaban en la cúspide de la popularidad. Las instituciones financieras de todo el mundo estaban negociando miles de millones de dólares de estos instrumentos a diario, y los analistas cuantitativos estaban modelándolos utilizando el cálculo estocástico y el poderoso `C++`.

Sin embargo, el avance en los últimos años ha sido impresionante y las cosas han cambiado. Por una parte, la [crisis financiera del 2008](https://es.wikipedia.org/wiki/Crisis_financiera_de_2008) fue producida por los instrumentos financieros llamados *derivados*. Por otra parte, los volúmenes transaccionales han bajado y la demanda de modelado con `C++` se ha marchitado con ellos. Además, un nuevo jugador entró en la competencia... `¡Python!`

`Python` ha estado ganando muchos seguidores en la industria financiera en los últimos años y con razón. No en vano, junto a `R` son los lenguajes de programación más utilizados en cuanto a análisis financiero.

## 1. Descarga de datos de Yahoo! Finance
Para esto utilizaremos el paquete *pandas_datareader*.

**Nota**: Usualmente, las distribuciones de Python no cuentan, por defecto, con el paquete *pandas_datareader*. Por lo que será necesario instalarlo aparte:
- buscar en inicio "Anaconda prompt" y ejecutarlo como administrador;
- el siguiente comando instala el paquete en Anaconda: *conda install pandas-datareader*;
- una vez finalice la instalación correr el comando: *conda list*, y buscar que sí se haya instalado pandas-datareader

In [7]:
# Importar el modulo data del paquete pandas_datareader. La comunidad lo importa con el nombre de web
import pandas as pd
import pandas_datareader as web

In [8]:
# Librerías estándar para arreglos y gráficos
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Primero importaremos datos desde un archivo con extensión `.csv`

In [9]:
#Importar datos de un archivo csv
file_name = "AMZN.MX.csv"

data = pd.read_csv(file_name)
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-01-02,1031.500000,1031.500000,1031.500000,1031.500000,1031.500000,100.0
1,2008-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-04,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-08,NaN,NaN,NaN,NaN,NaN,NaN
5,2008-01-09,NaN,NaN,NaN,NaN,NaN,NaN
6,2008-01-10,NaN,NaN,NaN,NaN,NaN,NaN
7,2008-01-11,NaN,NaN,NaN,NaN,NaN,NaN
8,2008-01-14,NaN,NaN,NaN,NaN,NaN,NaN
9,2008-01-15,NaN,NaN,NaN,NaN,NaN,NaN
10,2008-01-16,NaN,NaN,NaN,NaN,NaN,NaN
11,2008-01-17,NaN,NaN,NaN,NaN,NaN,NaN
12,2008-01-18,NaN,NaN,NaN,NaN,NaN,NaN
13,2008-01-21,NaN,NaN,NaN,NaN,NaN,NaN
14,2008-01-22,NaN,NaN,NaN,NaN,NaN,NaN
15,2008-01-23,NaN,NaN,NaN,NaN,NaN,NaN
16,2008-01-24,827.700012,827.700012,827.700012,827.700012,827.700012,60.0
17,2008-01-25,NaN,NaN,NaN,NaN,NaN,NaN
18,2008-01-28,NaN,NaN,NaN,NaN,NaN,NaN
19,2008-01-29,NaN,NaN,NaN,NaN,NaN,NaN
20,2008-01-30,NaN,NaN,NaN,NaN,NaN,NaN
21,2008-01-31,835.530029,835.530029,835.530029,835.530029,835.530029,2000.0
22,2008-02-01,NaN,NaN,NaN,NaN,NaN,NaN
23,2008-02-05,NaN,NaN,NaN,NaN,NaN,NaN
24,2008-02-06,NaN,NaN,NaN,NaN,NaN,NaN
25,2008-02-07,NaN,NaN,NaN,NaN,NaN,NaN
26,2008-02-08,NaN,NaN,NaN,NaN,NaN,NaN
27,2008-02-11,NaN,NaN,NaN,NaN,NaN,NaN
28,2008-02-12,821.950012,821.950012,821.950012,821.950012,821.950012,2430.0
29,2008-02-13,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2852,2019-05-20,35355.000000,35565.101563,35333.300781,35520.601563,35520.601563,489.0
2853,2019-05-21,35860.898438,35860.898438,35200.000000,35350.000000,35350.000000,545.0
2854,2019-05-22,35270.000000,35462.601563,35257.500000,35462.601563,35462.601563,124.0
2855,2019-05-23,35066.898438,35066.898438,34360.000000,34520.000000,34520.000000,810.0
2856,2019-05-24,35062.800781,35062.800781,34649.000000,34649.000000,34649.000000,298.0
2857,2019-05-27,34649.000000,34649.000000,34649.000000,34649.000000,34649.000000,0.0
2858,2019-05-28,35192.000000,35500.000000,35170.000000,35170.000000,35170.000000,631.0
2859,2019-05-29,35015.199219,35034.000000,34675.000000,34844.101563,34844.101563,822.0
2860,2019-05-30,34955.300781,34955.300781,34635.101563,34714.000000,34714.000000,216.0
2861,2019-05-31,35394.000000,35394.000000,34800.000000,34800.000000,34800.000000,748.0
2862,2019-06-03,34488.800781,34500.000000,33230.199219,33285.800781,33285.800781,1929.0
2863,2019-06-04,33260.000000,34300.000000,33240.000000,33765.000000,33765.000000,3643.0
2864,2019-06-05,33663.000000,33993.199219,33658.000000,33972.199219,33972.199219,5223.0
2865,2019-06-06,34300.000000,34500.000000,34175.000000,34428.000000,34428.000000,1169.0
2866,2019-06-07,34823.000000,35403.800781,34823.000000,35360.000000,35360.000000,3120.0
2867,2019-06-10,35450.000000,36108.800781,35450.000000,35820.000000,35820.000000,1511.0
2868,2019-06-11,36085.101563,36100.000000,35561.000000,35650.000000,35650.000000,4053.0
2869,2019-06-12,35420.000000,35728.000000,35420.000000,35675.000000,35675.000000,347.0
2870,2019-06-13,35932.000000,35945.500000,35660.800781,35750.000000,35750.000000,1198.0
2871,2019-06-14,35763.000000,35900.000000,35763.000000,35820.000000,35820.000000,424.0
2872,2019-06-17,36000.000000,36300.000000,36000.000000,36160.000000,36160.000000,972.0
2873,2019-06-18,36315.800781,36629.000000,36315.800781,36442.800781,36442.800781,903.0
2874,2019-06-19,36360.000000,36600.000000,36360.000000,36495.000000,36495.000000,558.0
2875,2019-06-20,36601.000000,36601.000000,36250.000000,36390.000000,36390.000000,433.0
2876,2019-06-21,36600.000000,36685.000000,36500.000000,36509.398438,36509.398438,377.0
2877,2019-06-24,36650.000000,36750.000000,36495.300781,36700.000000,36700.000000,4098.0
2878,2019-06-25,36800.000000,36800.000000,36090.000000,36094.000000,36094.000000,4590.0
2879,2019-06-26,36455.000000,36455.000000,36160.000000,36350.000000,36350.000000,1089.0
2880,2019-06-27,36472.000000,36600.000000,36440.000000,36529.101563,36529.101563,627.0
2881,2019-06-28,36534.000000,36610.000000,36165.000000,36235.199219,36235.199219,863.0

Ahora lo haremos desde Yahoo Finance

In [ ]:
help(web.DataReader)

In [ ]:
# Escribir una función para generalizar la exportación desde Yahoo

In [ ]:
# Instrumentos a descargar 

# Fechas: inicios 2013 a finales de 2018

In [ ]:
# Obtenemos los precios ajustados en el cierre

¿Cómo lucen estos datos?

In [ ]:
# Graficar

Una vez tenemos los datos, podemos operar con ellos. Por ejemplo un resumen de datos estadísticos se podría obtener con

In [ ]:
# Método describe

## 2. Rendimientos diarios

Para una sucesión de precios $\{S_t\}_{t=0}^{n}$, el rendimiento simple $R_t$ se define como el el cambio porcentual
$$
R_t=\frac{S_t-S_{t-1}}{S_{t-1}}
$$
para $t=1,\ldots,n$.

Para el ejemplo en curso, ¿cómo calcular esto?

In [ ]:
# Método shift

In [ ]:
# Entonces los rendimientos se calculan como

In [ ]:
# Método pct_change

y la gráfica de los rendimientos se puede obtener como...

In [ ]:
# Gráfica

Donde se observa que el rendimiento tiene una tendencia constante y, por tanto, se puede plantear la hipótesis de que se puede modelar usando un proceso estocástico estacionario en media.

Otro rendimiento usado con frecuencia es el rendimiento continuamente compuesto o rendimiento logaritmico. Éste, está definido como

$$
r_t=\ln\left(\frac{S_t}{S_{t-1}}\right).
$$

**Esta ecuación sólo es válida cuando se tienen periodos cortos de tiempo**
Es fácil darse cuenta que $r_t=\ln(1+R_t)$.

**Nota:** ver gráficamente que si $0\leq|x|\ll 1$, entonces $\ln(1+x)\approx x$.

Para este caso, la fórmula del rendimiento continuamente compuesto se translada facilmente a código Python (obtener, graficar y comparar).

In [ ]:
# Rendimiento logarítmico

In [ ]:
# Gráfica

In [ ]:
# Valor absoluto de la diferencia

Donde se observa que el rendimiento tiene una tendencia constante y, por tanto, se puede plantear la hipótesis de que se puede modelar usando un proceso estocástico estacionario en media.

Podemos incluso plantear la hipótesis de que los log rendimientos son normales...

In [ ]:
# Media y volatilidad de rendimientos

___
Recapitulando, hoy aprendimos a obtener datos con pandas-datareader directamente desde un archivo local ó fuentes remotas.

Por otra parte, estudiamos los rendimientos diarios y dimos con la conclusión de que se podrían modelar como un proceso estocástico estacionario normal.

La siguiente clase veremos como simular escenarios de comportamiento de los precios futuros (no determinístico, no sabemos como se comporta, muchas posibilidades: montecarlo) a partir de datos de ingresos diarios.

Luego, con esas predicciones veremos la probabilidad de que el precio de las acciones quede por encima (debajo) de cierto umbral y con ello tomar decisiones de vender (comprar) estas acciones.

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Cristian Camilo Zapata Zuluaga.
</footer>